
MINGW64 ~
$ cd "E:\Working\Python\Django\Python3.5\WatchUsBuild-TeamDirectoryAppWithDjango-part2\Directory"

MINGW64 /e/Working/Python/Django/Python3.5/WatchUsBuild-TeamDirectoryAppWithDjango-part2/Directory
$ python --version
Python 3.5.2

MINGW64 /e/Working/Python/Django/Python3.5/WatchUsBuild-TeamDirectoryAppWithDjango-part2/Directory
$ pip --version
pip 8.1.2 from c:\python35\lib\site-packages (python 3.5)

MINGW64 /e/Working/Python/Django/Python3.5/WatchUsBuild-TeamDirectoryAppWithDjango-part2/Directory
$ python -m django --version
1.10

MINGW64 /e/Working/Python/Django/Python3.5/WatchUsBuild-TeamDirectoryAppWithDjango-part2/Directory
$ pip install -r requirements.txt
Collecting defusedxml==0.4.1 (from -r requirements.txt (line 1))
  Downloading defusedxml-0.4.1.tar.gz (48kB)
Requirement already satisfied (use --upgrade to upgrade): Django==1.10 in c:\python35\lib\site-packages (from -r requirements.txt (line 2))
Collecting gunicorn==19.6.0 (from -r requirements.txt (line 3))
  Downloading gunicorn-19.6.0-py2.py3-none-any.whl (114kB)
Collecting oauthlib==1.1.2 (from -r requirements.txt (line 4))
  Downloading oauthlib-1.1.2.tar.gz (111kB)
Collecting PyJWT==1.4.2 (from -r requirements.txt (line 5))
  Downloading PyJWT-1.4.2-py2.py3-none-any.whl
Collecting python-social-auth==0.2.19 (from -r requirements.txt (line 6))
  Downloading python_social_auth-0.2.19-py3-none-any.whl (289kB)
Collecting python3-openid==3.0.10 (from -r requirements.txt (line 7))
  Downloading python3-openid-3.0.10.zip (365kB)
Collecting requests==2.11.0 (from -r requirements.txt (line 8))
  Downloading requests-2.11.0-py2.py3-none-any.whl (514kB)
Collecting requests-oauthlib==0.6.2 (from -r requirements.txt (line 9))
  Downloading requests_oauthlib-0.6.2-py2.py3-none-any.whl
Collecting six==1.10.0 (from -r requirements.txt (line 10))
  Using cached six-1.10.0-py2.py3-none-any.whl
Collecting whitenoise==3.2 (from -r requirements.txt (line 11))
  Downloading whitenoise-3.2-py2.py3-none-any.whl
Installing collected packages: defusedxml, gunicorn, oauthlib, PyJWT, six, python3-openid, requests, requests-oauthlib, python-social-auth, whitenoise
  Running setup.py install for defusedxml: started
    Running setup.py install for defusedxml: finished with status 'done'
  Running setup.py install for oauthlib: started
    Running setup.py install for oauthlib: finished with status 'done'
  Running setup.py install for python3-openid: started
    Running setup.py install for python3-openid: finished with status 'done'
Successfully installed PyJWT-1.4.2 defusedxml-0.4.1 gunicorn-19.6.0 oauthlib-1.1.2 python-social-auth-0.2.19 python3-openid-3.0.10 requests-2.11.0 requests-oauthlib-0.6.2 six-1.10.0 whitenoise-3.2

MINGW64 /e/Working/Python/Django/Python3.5/WatchUsBuild-TeamDirectoryAppWithDjango-part2/Directory
$
